<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--开启二级缓存 -->
        <setting name="cacheEnabled" value="true" />
        <!-- sql日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <!-- 一级缓存 开启延迟加载功能 如果输出tosring不会延迟加载 如果输出某个属性会延迟加载 以下三个配置只对额外的sql有效 -->
        <!-- 一级缓存默认是开启的 但最好是显示开启 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <!-- 不要积极加载 -->
        <setting name="aggressiveLazyLoading" value="false" />
        <!-- 调用方法不要立即加载 -->
        <setting name="lazyLoadTriggerMethods" value="clone" />
    </settings>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
        </plugin>
    </plugins>
</configuration>

